{% extends 'partials/body.html' %}
{% load static %}


{% block contenido %} 


<section class="intro">
    <div class="mask d-flex align-items-center h-90 gradient-custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <div class="card  login-box">
                        <div class="card-body p-5">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6 col-xl-7">
                                    <div class="text-center pt-md-5 pb-5 my-md-5">
                                        <img class="logo-inicio" src="{% static 'img/logoSML.svg' %}" alt="Logo de la empresa" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-xl-4 text center ">

                                    <img src="{% static 'img/clave.png' %}" class="logo-inicio" alt="123">
                                                            
                                </div>
                                <h2 class="fw-bold-md-4 pb-2 text-center">Contacta al administrador del sistema...</h2>
                                <div>
                                    <i class="far fa-hand-point-left fs-3" style="color:#7a7a7a"></i><a href="{% url 'inicio' %}" class="link-regresar">   Regresar a Inicio</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock contenido %}



