
{% extends 'partials/app.html' %}
{% load static %}

{% block contenido %} 
    {% include 'partials/sidebar.html' %}
    

<section id="interface">

    {% include 'partials/nav-app.html' %}

    

    <!-- contenido -->

    <div class="board">
        {% if request.user.username == 'virginia' or request.user.username == 'admin' %} 
        <table id="example" class="table table-striped tabla-datos" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th></th>
                    <th></th>                        
                </tr>
            </thead>

            <tbody>
                {% for usuario in usuarios %} 
                    <tr>
                         
                            <td class="people">
                                <img id="" src="{{usuario.foto.url}}" alt="foto usuario">
                          
                                <div class="people-de">
                                    <h5>{{usuario.nombres}} {{usuario.apellidos}}</h5>
                                    <p>Correo: {{usuario.correo}}</p>
                                </div>
                            </td>

                            <td class="people-des">
                                <h5>{{usuario.cargo}}</h5>
                                <p>Celular: {{usuario.celular}}</p>
                            </td>

                            <td class="active">
                                <p>Activo</p>
                            </td>

                            <td class="role">                            
                                <a class="boton-modal" data-bs-toggle="modal" data-bs-target="#borrarModal{{usuario.id}}"><label for="btn-modal">Borrar</label></a>                                  
                            </td>

                            <td class="edit">
                                <a class="boton" data-bs-toggle="modal" data-bs-target="#editarModal{{usuario.id}}"><label for="btn">Editar</label></a> 
                            </td>
                      
                    </tr> 
                    
                    <!-- Modal Eliminar --> 
    
                    <div class="modal fade" id="borrarModal{{usuario.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ELIMINAR</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Desea Borrar el Registro <strong>{{usuario.nombres}} {{usuario.apellidos}}</strong>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn boton-cancelar" data-bs-dismiss="modal">Cancelar</button>
                                <a href="{% url 'usuarios-eliminar' usuario.id %}"  class="btn boton-peligro boton">Eliminar</a>
                            </div>
                        </div>
                        </div>
                    </div>     
                    <!-- fin modal Eliminar-->

                    <!-- Modal Editar --> 
    
                    <div class="modal fade" id="editarModal{{usuario.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">EDITAR</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Desea Editar el Registro <strong>{{usuario.nombres}} {{usuario.apellidos}}</strong>?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn boton-cancelar" data-bs-dismiss="modal">Cancelar</button>
                            <a href="{% url 'usuarios-editar' usuario.id %}"  class="btn boton-aceptar boton">Editar</a>
                            </div>
                        </div>
                        </div>
                    </div>     
                    <!-- Fin modal Editar -->

                {% endfor %}
                                
            </tbody>
            
        </table>
        {% endif %}

    </div>

</section>

{% endblock contenido %} 

