{% extends 'partials/app.html' %} 
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %} 
    {% include 'partials/sidebar.html' %} 
    
    <!-- nav-bar app-->
    <section id="interface">
        {% if request.user.username == 'virginia' or request.user.username == 'admin'%}
        {% include 'partials/nav-app.html' %}
      

        
        <div class="container form">
            <form action="" method="POST" enctype="multipart/form-data">
                {{form|crispy}}
                {% csrf_token %} 
                <div>
                    <input type="submit" value="Registrar" class="btn-crear" id="btn-crear">
                </div>                
            </form>
        </div>
        {% endif %}
    </section>


{% endblock contenido %} 






