@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background: #eeeff1 !important;
    position: relative;
    display: flex;
}

#menu {
    background: rgba(230, 113, 124, .7); 
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .logo h2 {
    font-size: 1.4rem;
}

#menu .logo img {
    width: 100px;
    margin-right: 15px;
}

#menu .items {
    margin-top: 40px;

}


#menu .items li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
    
}

#menu .items i { 
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
    
}


#menu .items li:hover {
    background: #e6717c;
    cursor: pointer;
}

#menu .items li:nth-child(1) {
    border-left: 4px solid #fff;
}

#menu .items li i {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 24px !important;
    margin: 0 10px 0 25px;
}

#menu .items li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    transition: 0.3s ease;
}

#menu .items li:hover i, #menu .items li:hover a {
    color: #f3f4f6;
}


/*-----------------------*/




#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

#interface .navigation {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #e6717c;
    position: fixed;
    width: calc(100% - 300px);
    z-index: 1;
}

.salir i{
    margin: 0 5px;
    color:rgba(230, 113, 124, .7);
}

.salir a {
    color: #7a7a7a;
    text-decoration: none;
}

#interface .navigation .search {
    display: flex;
    justify-content: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px
}

#interface .navigation .search i {
    margin-right: 14px;
}

#interface .navigation .search input {
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

#interface .navigation .profile span {
    color: #7a7a7a;
}

.n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn {
    display: none;
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}



.i-name {
    color: #e6717c;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
}

.vinculos {
    text-decoration: none;
    color: #000;
}

.values {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background: #fff;
    width: 240px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}

#v1 {
    background: #a7a7a7;
}

#v2 {
    background: #5c8af0;
}

#v3 {
    background: #e45d99;
}

#v4 {
    background: #74daec;
}

.values .val-box h3 { 
    font-size: 18px;
    font-weight: 600;
    color: #484848;
}

.values .val-box span {
    font-size: 15px;
    color: #828997;
}


/*---------- Datatable ----------*/

.dataTables_paginate {
    margin-top: -30px !important;
}

.dataTables_filter {
    margin: 5px 0 20px;

}

.dataTables_length {
    float: right !important;
}

.export {
    padding: 15px;
    margin: 0px 10px 10px;
    background-color: #e6717c;
    border: none;
}



.board {
    /* position: absolute; */
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    z-index: -1;
    padding: 50px 10px;
}

.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5 {
    font-weight: 600;
    font-size: 14px;
}

.board p {
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

.board .people img {
    width: 100px;
    height: 100px;
}

.board h3 {
    color: #484848;
    width: 100%;
    padding: 0 0px 10px 3px;
}

.tabla-datos th {
    color: #7a7a7a;
}

.tabla-datos td h5 {
    color: #484848;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
}

.active p {
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.warning p {
    background: #dd515f;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #fff;
}

.suma a {
    border-radius: 3px;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #66a586;
    font-weight: 600;
    transition: .3s ease;
}

.suma a:hover {
    background-color: #66a586;
    color: #fff;
}

.role a {
    border-radius: 3px;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #d14c4c;
    font-weight: 600;
    transition: .3s ease;
}

.role a:hover {
    background-color: #d14c4c;
    color: #fff;
}

.edit a  {
    border-radius: 3px;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

.edit a:hover {
    background-color: #554cd1;
    color: #fff;
}

.restar a {
    border: 1px solid #e6717c;
    border-radius: 3px;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #e6717c;
    font-weight: 600;
    transition: .3s ease;
    cursor: pointer;
}

.restar a:hover {
    background-color: #e6717c;
    color: #fff;
}

.modal-med {
    font-size: 1.1rem !important;
}

.modal-red {
    font-size: 1.2rem !important;
    color: red !important;
}

.completado {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: #55c18b;
    color: #fff !important;
}

.inactivo {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: #7a7a7a;
    color: #fff !important;
}

.sinStock {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: #9a4545;
    color: #fff !important;
}


/* manual */

.volver {
    opacity: .7;
    text-decoration: none;
    text-align: center;
    position: fixed;
    right: 10px;
    width: 100px;
    padding: 5px;
    border: 2px solid #e6717c;
    border-radius: 5px;
    background: none;
    color: #e6717c;
}

.volver:hover {
    opacity: 1;
    background-color: #e6717c;
    color: #fff;
    transition: .5s;
}

.manual {
    /* position: absolute; */
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    z-index: -1;
    padding: 50px 10px;
}

.manual img {
    width: 80%;
    object-fit: cover;
    margin-right: 15px;
}

.manual .container h1 {
    color: #e6717c;    
}

.manual .container h3 {
    color: #e6717c;    
}

.manual .container h4 {
    color: #787d8d;
    font-weight: bold;
}

.manual h5 {
    font-weight: 600;
    font-size: 14px;
}

.manual p {
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}

.manual .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

.manual .people img {
    width: 100px;
    height: 100px;
}

.manual h3 {
    color: #484848;
    width: 100%;
    padding: 0 0px 10px 3px;
}

.manual span {
    color: #e6717c;
    font-weight: bold;
}

.lista_link a {
    text-decoration: none;
    color: #787d8d;
    padding: 5px;
}

.lista_link a span {
    color: #e6717c;
    font-weight: bold;    
}

.lista_link a:hover {
    background-color: #d1cece;
    color: #fff;
    transition: .5s;
    border-radius: 5px;
}

/* botones aceptar y cancelar modal */
.boton-aceptar {
    border: 1px solid #55c18b;
    color: #55c18b;
    font-weight: bold;
    transition: .5s ease;
}

.boton-aceptar:hover {
    background-color: #55c18b;
    color: #fff;
}

.boton-cancelar {
    color: #787d8d;
    border: 1px solid #787d8d;
    font-weight: bold;
    transition: .5s ease;
}

.boton-cancelar:hover {
    background-color: #787d8d;
    color: #fff;
}

.boton-peligro {
    border: 1px solid #e45d49;
    color: #e45d49;
    font-weight: bold;
    transition: .5s ease;
}

.boton-peligro:hover {
    background-color: #e45d49;
    color: #fff;
}


@media (max-width: 820px) {

    #menu {  
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }

    #menu.active {
        left: 0px;
    }

    #menu-btn {
        display: initial;
    }

    #interface {
        width: 100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease;
    }

    #menu.active~ #interface {
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
    }

    #interface .navigation {
        width: 100%;
    }

    .values {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }

    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 20px 10px;
    }

    .board {
        width: 92%;
        padding: 10px;
        overflow-x: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

}

@media (max-width: 477px) {

    #interface .navigation {
        padding: 15px;
    }

    #interface .navigation .search input {
        width: 150px;
    }

    .i-name {
        padding: 30px 15px 0 15px;
        
    }

    .values {
        width: 100%;
        padding: 15px 15px 0 15px;
        justify-content: center;
        align-items: center;        
    }

    .values .val-box {      
        margin: 8px 0; 
    }

    .board {
        margin: 30px 15px 30px 15px;
        padding: 10px;
        
    }

    .lista_link {
        width: 200px;
    }

}