{% load static %} 

 <!-- formulario -->
 <section id="seccion-contacto">
    <div id="bg-contactos">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e6717c" fill-opacity=".4" d="M0,192L120,197.3C240,203,480,213,720,208C960,203,1200,181,1320,170.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    </div>

    <div class="container" id="contenedor-formulario">

        <div id="titulo-formulario" class="text-center mb-4">
            <div><img data-bs-toggle="mensaje" title="Imagen doctora - pixabay" src="{% static 'img/doctora.jpg' %}" alt="Imagen de doctora" class="img-fluid img-formulario" /></div>
            <h2>Contacto</h2>
            <p class="fs-5">Estamos aqui para hacer realidad tus proyectos</p>
        </div>

        <form action="" method="POST">
          {% csrf_token %}
              <div class="mb-3">
                <input type="text" class="form-control" id="nombre" placeholder="Escriba su nombre" name="nombres" required />
              </div>
              <div class="mb-3">
                <input type="tel" class="form-control" id="tel" placeholder="Escriba su teléfono" name="telefono" required />
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escriba su correo" name="correo" required />
              </div>
              <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name="mensaje" placeholder="Escriba su mensaje..."></textarea>
              </div>
              <div class="mb-3">
                <button data-bs-toggle="mensaje" title="Enviar Mensaje" type="submit" class="btn w-100 fs-5 boton">Enviar Mensaje</button>
              </div>
        </form>
        
    </div>


  </section>