{% extends 'partials/app.html' %} 
{% load static %} 

{% block contenido %} 
    {% include 'partials/sidebar.html' %} 

        <!-- nav-bar app-->
<section id="interface">
    {% include 'partials/nav-app.html' %}

 

    <!-- formulario -->
    <div class="board">

        <table id="example" class="table table-striped tabla-datos" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Fecha de Creación</th>
                    {% if request.user.username == 'virginia' or request.user.username == 'admin' %}
                    <th></th>
                    {% endif %} 
                </tr>
            </thead>

            <tbody>
                {% for cargo in cargos %} 
                    <tr>

                        <td>{{cargo.id}}</td>
                        <td>{{cargo.nombre}}</td>                       
                        <td>{{cargo.estado}}</td>
                        <td>{{cargo.fechaCreacion| date:"d-m Y"}}</td>
                        

                        {% if request.user.username == 'virginia' or request.user.username == 'admin' %}
                        <td class="edit">
                            <a class="boton" href="{% url 'cargos-editar' cargo.id %}"><label for="btn">Editar</label></a> 
                        </td>
                        {% endif %} 

                    </tr>                
                {% endfor %}
                                
            </tbody>
            
        </table>


    </div>

</section>  

{% endblock contenido %}